@model IEnumerable<Host_Car.Models.CarDetail>
@{

    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<hr />

@if (TempData["QuantityError"] != null)
{

    <div class="alert alert-danger" id="danger-alert">
        @TempData["QuantityError"]
    </div>
}


<div class="row">
    <form method="post" class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img src="~/Image/@item.CarImage" width="100%" height="250px">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0 text-dark text-center">Permited Age: <br /> @item.AgePermission</small>
                            <small class="m-0 text-dark text-center">Driver Licens Min: <br /> @item.MinimumDriverLicensYear</small>
                            <small class="m-0 text-dark text-center">Gear Box Type: <br /> @item.CarTypes.Type</small>
                            <small class="m-0 text-dark"> Fuel Type: <br />@item.FuelTypes.Fuel</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">
                            <small>@item.CarClasses.Class /</small>
                            @item.CarBrands.Brand
                            @item.CarModels.Model
                            <br />
                            <small>
                                <h5>Year of Model: </h5>
                                @item.CarModels.Years
                            </small>
                        </a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <small class="m-0 text-dark">Online Price: <br /><small>@item.CarPrices.OnlinePrice.ToString("C")</small></small>
                                <small class="m-0 text-dark">Price to Adress: <br /><small>@item.CarPrices.CustomerAdressPrice.ToString("C")</small> </small>
                                <small class="m-0 text-dark">Standart Price: <br /><small>@item.CarPrices.StandartPrice.ToString("C")</small> </small>
                            </div>
                            <input asp-route-carId="@item.Id" type="submit" value="Rent This Car" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#danger-alert").slideUp(500);
        });
    </script>

}
